### Q1. Create a list of five integers and print it.

In [1]:
nums= [ 1, 4 ,7,9,10,100]
print(nums)

[1, 4, 7, 9, 10, 100]

### Q2. Write a program to find the length of a list.

In [2]:
list_1=[1,4,2,4,7,5,8]
length=len(list_1)
print("The Length of the list is" , length)

The Length of the list is 7

### Q3. Create a tuple with three elements and print the second item.

In [3]:
tuple_1=('dentist','engineer','architecture')
print(tuple_1[1])

engineer

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [15]:
dictionary_1={
    'name' : 'Jana',
     'age' : 21,
     'major' : 'ML Engineer'
} 
print(dictionary_1.keys())

dict_keys(['name', 'age', 'major'])

In [ ]:
dictionary= {
    'name': 'Nada',
    'age': 22,
    'major': 'Data Engineer'
}

for key in dictionary.keys():
    print(key)

name
age
major

### Q5. Write a program to convert a list into a set.

In [20]:
list_2=[1,3,4,5,5,6,6,6]
set_1=set(list_2)
print(set_1)

{1, 3, 4, 5, 6}

### Q6. Create a string and print its first and last characters.

In [21]:
text_1 = "Machine Learning"
print("First character:", text_1[0])
print("Last character:", text_1[-1])

First character: M
Last character: g

### Q7. Take input from the user and print it.

In [ ]:
get_input=input("write a input here")
print("your input", get_input)

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
num_1=float(input("enter the 1st number"))
num_2=float(input("enter the 2nd number"))
result= num_1 + num_2
print("the summition of 2 numbers are" , result)

### Q9. Use `type()` function to check the data type of a variable.

In [1]:
x=30
print(type(x))
y=10.8
print(type(y))
z = "hello"
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

### Q10. Create a boolean variable and print it.

In [2]:
online=True
print(online)
offline=False
print(offline)

True
False

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [ ]:
num=float(input("Enter a Number : "))
if num > 0:
    print("This Number is a Positive Number")
elif num <0:
    print ("This number is -ve number")
else:
    print("The number is zero ")

### Q12. Write a program to check if a number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [ ]:
for i in range(3):
    print("Jana")

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [ ]:
for i in range(1,11):
    print(i)

### Q15. Use a `for` loop to iterate over a list and print each element.

In [ ]:
List_3=['Nada', 'Jana','Menna']
for item in List_3:
    print(item)

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
Summition = 0
for i in range(1, 101):
    Summition = Summition + i

print("The sum is:", Summition)

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

In [ ]:
for i in range(2, 21, 2):
    print(i)

### Q18. Write a `for` loop to print each character in a string.

In [ ]:
text_x = "Hello, world!"

for char in text_x:
    print(char)

### Q19. Use a `for` loop to print all values in a dictionary.

In [ ]:
diction2 ={
    'name': 'Nada',
    'age' : 20,
    'major' : 'medicine'
}
for value in diction2.values():
    print(value)

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("the factorial is:", factorial)

### Q21. Create a list of your 5 favorite fruits.

In [ ]:
list_fav=['Strawberries','Grapes','Mango','Apples','Bananas']
print(list_fav)

### Q22. Add a new fruit to your list of favorite fruits.

In [ ]:
list_fav=['Strawberries','Grapes','Mango','Apples','Bananas']
list_fav.append("Pineapple")
print(list_fav)

### Q23. Remove the second item from a list.

In [ ]:
list_fav=['Strawberries','Grapes','Mango','Apples','Bananas']
list_fav.pop(1)0

print(list_fav)

### Q24. Sort a list of numbers in descending order.

In [ ]:
nums = [5, 2, 9, 1, 7]
nums.sort(reverse=True)
print(nums)

### Q25. Find the maximum and minimum values in a list.

In [ ]:
nums = [8, 3, 15, 6, 2]

maximum = max(nums)
minimum = min(nums)

print("Maximum:", maximum)
print("Minimum:", minimum)

### Q26. Count how many times a value appears in a list.

In [ ]:
numbers = [4, 2, 7, 4, 2, 4, 9]
count_of_4 = numbers.count(4)

print("Number 4 appears", count_of_4, "times.")

### Q27. Check if a specific value exists in a list.

In [ ]:
num = [10, 20, 30, 40, 50]

if 30 in num:
    print("30 is in the list.")
else:
    print("30 is not in the list.")

### Q28. Reverse a list without using reverse() function.

In [ ]:
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print(reversed_list)

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
original = [10, 20, 30]
copy_list = original.copy()

copy_list.remove(20)

print("Original:", original)
print("Copy:", copy_list)

### Q30. Use slicing to get the first 3 items of a list.

In [2]:
nums = [10, 20, 30, 40, 50]
first_three = nums[:3]

print(first_three)

[10, 20, 30]

### Q31. Create a tuple with 4 elements and print its length.

In [3]:
tuple = ('apple', 'banana', 'cherry', 'date')
print("Length of the tuple:", len(tuple))

Length of the tuple: 4

### Q32. Access the last element of a tuple.

In [4]:
my_tuple = ('red', 'green', 'blue', 'yellow')
last_element = my_tuple[-1]

print("Last element:", last_element)

Last element: yellow

### Q33. Convert a tuple into a list.

In [5]:
tuple12 = ('apple', 'banana', 'cherry')
my_list = list(tuple12)

print(my_list)

['apple', 'banana', 'cherry']

### Q34. Convert a list into a tuple.

In [24]:
my_list_3 = ['Cairo', 'Alexandria', 'Giza']
my_tuple_1 = tuple(my_list_3)
print(my_tuple_1)

TypeError: 'str' object is not callable

### Q35. Check if a value exists in a tuple.

In [ ]:
my_tuple = ('sun', 'moon', 'stars')

if 'moon' in my_tuple:
    print("'moon' is in the tuple.")
else:
    print("'moon' is not in the tuple.")

### Q36. Concatenate two tuples.

In [25]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

combined = tuple1 + tuple2

print(combined)

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [ ]:
my_tuple = ('sun', 'moon')
repeated_tuple = my_tuple * 3

print(repeated_tuple)

### Q38. Find the index of an element in a tuple.

In [26]:
my_tuple = ('apple', 'banana', 'cherry', 'banana')
index_of_banana = my_tuple.index('banana')

print("Index of 'banana':", index_of_banana)

Index of 'banana': 1

### Q39. Use tuple unpacking to assign values to variables.

In [27]:
my_tuple = ('python', 3.11, 'programming')
language, version, topic = my_tuple

print(language)
print(version)
print(topic)

python
3.11
programming

### Q40. Create a nested list and access an inner element.

In [28]:
nested_list_1 = [
    ['apple', 'banana'],
    ['carrot', 'mango'],
    ['eggplant', 'fennel']
]

print(nested_list_1[1][1])

mango

### Q41. Create a set of 5 unique colors.

In [ ]:
colors = {'red', 'blue', 'green', 'yellow', 'purple'}
print(colors)

### Q42. Add a new color to the set.

In [30]:
colors = {'red', 'blue', 'green', 'yellow', 'purple'}
colors.add('orange')

print(colors)

{'orange', 'purple', 'red', 'blue', 'yellow', 'green'}

### Q43. Remove an item from the set using `remove()`.

In [29]:
colors = {'red', 'blue', 'green', 'yellow', 'purple'}
colors.remove('yellow')

print(colors)

{'purple', 'red', 'blue', 'green'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [31]:
colors = {'red', 'blue', 'green', 'yellow'}
colors.discard('orange') 

print(colors)

{'yellow', 'green', 'red', 'blue'}

### Q45. Create a set from a list with duplicate values.

In [32]:
my_list = ['red', 'blue', 'red', 'green', 'blue']
unique_colors = set(my_list)

print(unique_colors)

{'green', 'red', 'blue'}

### Q46. Find the union of two sets.

In [33]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date', 'fig'}

union_set = set1 | set2
print(union_set)

{'date', 'cherry', 'fig', 'banana', 'apple'}

### Q47. Find the intersection of two sets.

In [34]:
set1 = {'red', 'blue', 'green'}
set2 = {'blue', 'yellow', 'green'}

common_colors = set1 & set2
print(common_colors)

{'green', 'blue'}

### Q48. Find the difference between two sets.

In [35]:
set1 = {'red', 'blue', 'green'}
set2 = {'blue', 'yellow'}

difference = set1 - set2
print(difference)

{'green', 'red'}

### Q49. Check if a set is a subset of another set.

In [36]:
set1 = {'red', 'blue'}
set2 = {'red', 'blue', 'green'}

print(set1 <= set2)

True

### Q50. Check if two sets are disjoint.

In [37]:
set1 = {'circle', 'square'}
set2 = {'triangle', 'hexagon'}

print(set1.isdisjoint(set2))

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [38]:
diction = {
    'name': 'Amina',
    'age': 29,
    'city': 'Cairo'
}

print(diction)

{'name': 'Amina', 'age': 29, 'city': 'Cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [39]:
diction = {
    'name': 'Amina',
    'age': 29,
    'city': 'Cairo'
}
diction['profession'] = 'Engineer'

print(diction)

{'name': 'Amina', 'age': 29, 'city': 'Cairo', 'profession': 'Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
diction = {
    'name': 'Amina',
    'age': 29,
    'city': 'Cairo'
}
diction['age'] = 30

print(diction)

### Q54. Remove a key from the dictionary using `pop()`.

In [40]:
diction = {
    'name': 'Amina',
    'age': 29,
    'city': 'Cairo'
}
removed_value = diction.pop('city')

print(diction)

{'name': 'Amina', 'age': 29}

### Q55. Check if a key exists in the dictionary.

In [41]:
diction = {
    'name': 'Amina',
    'age': 30,
    'city': 'Cairo'
}

if 'age' in diction:
    print("Key 'age' exists!")
else:
    print("Key 'age' not found.")

Key 'age' exists!

### Q56. Loop through a dictionary and print all keys and values.

In [43]:
diction = {
    'name': 'Amina',
    'age': 30,
    'city': 'Cairo'
}

for key, value in diction.items():
    print(f"{key} : {value}")

name : Amina
age : 30
city : Cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [44]:
diction = {
    'name': 'Amina',
    'age': 30,
    'city': 'Cairo'
}

keys = diction.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [46]:
diction = {
    'name': 'Amina',
    'age': 30,
    'city': 'Cairo'
}

values = diction.values()
print(keys)

dict_keys(['name', 'age', 'city'])

### Q59. Get all key-value pairs using `items()`.

In [47]:
diction = {
    'name': 'Amina',
    'age': 30,
    'city': 'Cairo'
}

items = diction.items()
print(items)

dict_items([('name', 'Amina'), ('age', 30), ('city', 'Cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [48]:
keys = ['name', 'age', 'city']
values = ['Amina', 30, 'Cairo']

diction = dict(zip(keys, values))
print(diction)

{'name': 'Amina', 'age': 30, 'city': 'Cairo'}